@media screen and (Max-width:575px) {
    
    .container{
        width:100%;
        padding: 0px 15px;
    }

    .logo_txt h1 a {
        font-size: 25px;
    }
    
    .nav ul {
        flex-direction: column;
        align-items: start;
    }

    .foot_wrap {
        flex-direction: column;
        gap: 70px;
    }
    
    .copyright_txt p {
        font-size: 18px;
    }

    

    .principal_teacher_box {
        flex-direction: column;
        gap: 50px;
        padding: 20px;
    }
    
    .principal_teach_id {
        margin-left: 0px;
    }
    
    .principal_teach_id h2 {
        font-size: 35px;
    }
    
    .principal_teach_id p {
        font-size: 18px;
    }
    
    .teach_title h1 {
        font-size: 30px;
    }
    
    .tajweed_tech_wrap, .nazera_tech_wrap, .hifz_tech_wrap, .male_tech_wrap {
        flex-direction: column;
    }
    
    .techer_box {
        width: 100%;
    }

}

@media screen and (Min-width:576px) and (Max-width:767px) {
    
    .container{
        width:540px;
        padding: 0px 15px;
    }

    .container{
        width:100%;
        padding: 0px 15px;
    }

    .logo_txt h1 a {
        font-size: 25px;
    }
    
    .nav ul {
        flex-direction: column;
        align-items: start;
    }



    .principal_teacher_box {
        flex-direction: column;
        gap: 50px;
        padding: 20px;
    }
    
    .principal_teach_id {
        margin-left: 0px;
    }
    
    .tajweed_tech_wrap, .nazera_tech_wrap, .hifz_tech_wrap, .male_tech_wrap {
        flex-direction: column;
    }
    
    .techer_box {
        width: 100%;
    }

    .principal_teach_img_txt img {
        width: 70%;
    }
    

}

@media screen and (Min-width:768px) and (Max-width:991px) {
    
    .container{
        width:720px;
        padding: 0px 15px;
    }

    .container{
        width:100%;
        padding: 0px 15px;
    }

    .logo_txt h1 a {
        font-size: 25px;
    }
    
    .nav ul {
        flex-direction: column;
        align-items: start;
    }



    .principal_teacher_box {
        flex-direction: column;
        gap: 50px;
        padding: 20px;
    }
    
    .principal_teach_id {
        margin-left: 0px;
    }
    
    .principal_teach_id h2 {
        font-size: 35px;
    }
    
    .principal_teach_id p {
        font-size: 18px;
    }
    
    .teach_title h1 {
        font-size: 30px;
    }
    
    .tajweed_tech_wrap, .nazera_tech_wrap, .hifz_tech_wrap, .male_tech_wrap {
        flex-direction: column;
    }
    
    .techer_box {
        width: 100%;
    }

    .principal_teach_img_txt img {
        width: 50%;
    }
}

@media screen and (Min-width:992px) and (Max-width:1199px) {
    
    .container{
        width:960px;
        padding: 0px 15px;
    }

}

@media screen and (Min-width:1200px) {
    
    .container{
        width:1140px;
        padding: 0px 15px;
    }

}