/* Main CSS Start */

:root{
    --mainbg:#3C2039;
    --maintxt: #fff;
    --bn_font: Bn_Siraj;
    --bn_font_2: Bn_Padmasetu;
    --bn_font_3: Bn_Alinur;
    --eng_font: Lato;
    --arb_font: Noto Kufi Arabic;
}

/* font-family: 'Lato', sans-serif;
font-family: 'Noto Kufi Arabic', sans-serif; */



/* TTF Font Code */

@font-face{
    font-family: Bn_Siraj;
    src: url(../Bengali\ Fonts/Li_Sirajee_Sanjar_Unicode.ttf);
}

@font-face{
    font-family: Bn_Padmasetu;
    src: url(../Bengali\ Fonts/Li_Padmasetu_Unicode.ttf);
}

@font-face{
    font-family: Bn_Alinur;
    src: url(../Bengali\ Fonts/Li_Alinur_Banglaborno_Unicode.ttf);
}


/* Common Codes */

*{
   box-sizing:border-box;
   margin:0;
   padding:0;
}

body{
    margin:0;
    padding:0;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-left: 15px;
}

a{
    text-decoration: none;
}



/* Disclaimer Section Start */

.disclaimer {
    display: flex;
    align-items: center;
}

.disclaimer span {
    width: 110px;
    background: var(--mainbg);
    clip-path: polygon(0 0,85% 0, 100% 100%, 0 100%);
    color: #fff;
    font-family: var(--eng_font);
    padding: 5px;
}

.disclaimer marquee {
    font-family: 'Lato';
    letter-spacing: 4px;
    font-size: 20px;
    font-weight: bold;
}

/* Disclaimer Section End */


/* Header Area Start Here */


.nav_cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 15px;
}

.logo_txt h1 a {
    font-size: 30px;
    font-family: var(--bn_font);
    color: var(--mainbg);
}

header#header{
    padding: 5px 0;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 5px 13px 2px #91919194;
    z-index: 999;
    background: #fff;
}

.nav ul li a {
    font-family: var(--eng_font);
    display: flex;
    align-items: center !important;
    gap: 5px;
    color: #000;
    font-weight: bolder;
    transition: 0.3s;
    font-size: 15px;
}

.nav ul li:hover a {
    color: #892a7e;
    letter-spacing: 0.5px;
}

/* Header Area End Here */



/* Main Section Start Here */

#main_sec {
    background-image: url(../Image/banner_1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main_sec_cont_txt {
    margin-top: -20px;
    position: relative;
    font-family: var(--bn_font_2);
    width: 50%;
}

#main_sec::before {
    width: 100%;
    height: 100%;
    background: #8585851c;
    display: block;
    content: '';
    position: absolute;
}

.main_sec_cont_txt h1 {
    font-size: 33px;
}

.main_sec_cont_txt h2{
    font-size: 38px;
}

.main_sec_cont_txt h2 , .why_us_txt h2 span {
    color: var(--mainbg);
}

.main_sec_cont_txt p {
    font-size: 19px;
    margin-bottom: 20px;
}

.main_sec_btn a{
    display: inline-block;
    background: #ffffff7d;
    border: 2px solid var(--mainbg);
    font-family: var(--bn_font);
    font-size: 19px;
    font-weight: 800;
    padding: 7px 20px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
    color: #000;
}

.main_sec_btn a i {
    font-size: 15px;
    display: inline-block;
}

.main_sec_btn a:hover {
    background: var(--mainbg);
    color: #fff;
}

.main_sec_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 150px; */
}

.stud_wrap {
    font-family: var(--bn_font_2);
    padding: 100px 0px;
    z-index: 9;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main_sec_img {
    width: 50%;
}

.main_sec_img img {
    width: 100%;
    height: auto;
}


/* Main Section End Here */



/* Student Graph Section Start Here */

.student_num{
    background-color: var(--mainbg);
    position: relative;
    overflow: hidden;
}

.student_num::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../Image/bg_effect.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.stud_wrap .stu_box {
    background-color: #fff;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
    border: 2px solid #fff;
    box-shadow: 0px 0px 14px 3px #5a5a5ac7;
}

.icon_img img {
    width: 100%;
    height: auto;
    transition: 1.5s;
}

.icon_img {
    width: 70px;
    height: auto;
    margin-bottom: 6px;
}

.stu_box h2 {
    font-size: 30px;
}

.stu_box p {
    font-size: 17px;
}

.stu_box1, .stu_box3 {
    transform: scale(1.05);
}

.stu_box2 {
    transform: scale(1.2);
}

.stud_wrap .stu_box:hover {
    transform: scale(1.2);
    border: 2px solid #000000cf
    ;
}

.stud_wrap .stu_box2:hover {
    transform: scale(1.3);
}

.stud_wrap .stu_box:hover .icon_img > img {
    transform: rotateY(360deg);
}

/* Student Graph Section End Here */



/* Why Us Section Start Here */

section#why_us_sec {
    background-color: #F4F7FD;
}

.why_us_wrap {
    display: flex;
    justify-content: center;
    padding: 80px 0px;
}

.why_us_img img {
    width: 100%;
    height: auto;
}

.why_us_img {
    height: 650px;
    width: 40%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 15px 3px #00000029;
    flex-direction: column;
    align-items: center;
    background: #fff;
}

.why_us_txt {
    width: 55%;
    padding-left: 40px;
    padding-top: 50px;
}

.main_sec_cont_txt h2 , .why_us_txt h2 span{
    font-size: 40px;
}

.why_us_txt h2 {
    font-size: 30px;
    font-family: var(--bn_font);
}

.why_us_txt p {
    font-family: var(--bn_font_3);
    margin-top: 14px;
    font-size: 21px;
}

/* Why Us Section End Here */



/* Favourite Course Section Start */

section#fav_course {
    padding: 80px 0px;
}

.fav_course_title {
    margin: 40px 0 60px;
    text-align: center;
}

.fav_course_title h2 {
    font-family: var(--bn_font);
    font-size: 35px;
    display: inline-block;
    position: relative;
}

.fav_course_title h2::before {
    content: "";
    width: 5px;
    height: 30px;
    background-color: var(--mainbg);
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.fav_course_title h2::after {
    content: "";
    width: 5px;
    height: 30px;
    background-color: var(--mainbg);
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.course_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.c_img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.c_rating i {
    color: #daa520;
    font-size: 15px;
}

.c_img {
    margin-bottom: 10px;
}

.course_box {
    padding: 20px 14px 70px;
    box-shadow: 0px 0px 15px 3px #00000029;
    border-radius: 10px;
    font-family: var(--bn_font);
    font-size: 19px;
    transition: 0.3s;
    cursor: pointer;
    transform: scale(0.9);
}

.course_box .c_genre {
    margin-top: 20px;
}

.c_txt {
    margin-top: 10px;
}

.course_box .c_genre, .c_type {
    font-weight: bold;
    font-size: 17px;
}

.course_btn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.course_box:hover {
    transform: scale(1.0);
}

section#spec_tart {
    background-color: #F4F7FD;
    padding: 60px 0px;
}

.special_wrap {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.spec_box {
    background: #fff;
    padding: 40px 25px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 0px 15px 3px #00000029;
    transition: 0.3s;
    font-family: var(--bn_font_3);
}

.spec_box .spec_icon img {
    width: 63%;
    height: auto;
}

.spec_icon {
    color: Var(--mainbg);
    margin-bottom: 15px;
}

.spec_box .spec_icon i {
    font-size: 53px;
}

.spec_txt h3 {
    font-size: 25px;
    margin-bottom: 9px;
}

.spec_txt p {
    font-size: 17px;
}

.spec_box:nth-child(even){
    background-color: var(--mainbg);
    color: #fff;
}

.spec_box:nth-child(even) .spec_icon{
    color: #fff;
}

/* Favourite Course Section End */



/* Quran Ayat Section Start Here */

section#sec_ayat {
    padding: 120px 0px;
    display: grid;
    place-items: center;
}

.ayat_box h3 {
    font-family: var(--arb_font);
    font-size: 25px;
    text-align: center;
}

.ayat_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ayat_box {
    display: inline-block;
}

.ayat_box p {
    font-family: var(--bn_font_2);
    margin-top: 8px;
    font-size: 20px;
}

.ayat_box span {
    display: block;
    text-align: right;
    margin-top: 10px;
    font-family: var(--bn_font_2);
    font-size: 17px;
    position: relative;
}

.ayat_box span::before {
    content: "";
    width: 30px;
    height: 5px;
    background-color: var(--mainbg);
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 180px;
}

/* Quran Ayat Section End Here */



/* Student Review Section Start */

section#stud_review {
    padding: 80px 0px;
    background: #F4F7FD;
}

.stud_review_wrap {
    display: flex;
    /* align-items: self-start; */
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    gap: 30px;
}

.stud_box {
    background-color: #F5F5F5;
    padding: 30px;
    border: 1px solid var(--mainbg);
    border-radius: 10px;
    width: 33.33%;
}

.review_id {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.rev_img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--mainbg);
    object-fit: contain;
}

.rev_id_txt {
    margin-left: 10px;
}

.stud_txt {
    text-align: center;
}

.rev_id_txt h4 {
    font-family: var(--bn_font_3);
    font-size: 20px;
}

.rev_id_txt p {
    font-family: var(--bn_font_2);
}

.stud_box:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stud_box:last-child .stud_txt {
    /* width: 90%; */
    /* margin: auto; */
    line-height: 28px;
}

.stud_txt p {
    font-family: var(--bn_font);
    font-size: 19px;
}

/* Student Review Section End */



/* Footer - The Start */

#footer {
    padding: 100px 0px;
    background-color: var(--mainbg);
    margin: 180px 0px 0px;
    position: relative;
}

#footer::before {
    content: "";
    background-image: url(../Image/waves/wave_down.png);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 260px;
}


.foot_cont {
    color: #fff;
    font-family: var(--eng_font);
    line-height: 31px;
}

.foot_cont p i {
    margin-right: 5px;
}

.copyright_txt p {
    margin-top: 50px;
    text-align: center;
    color: #fff;
    font-family: var(--eng_font);
    font-size: 21px;
}

.foot_cont p a {
    color: #fff;
    text-decoration: underline;
    margin-left: 5px;
}

.foot_cont h3, .attribution h3 {
    font-size: 30px;
    margin-bottom: 20px;
}


.foot_cont, .attribution {
    color: #fff;
    font-family: var(--eng_font);
    line-height: 31px;
}

.foot_cont p i, .attribution p i {
    margin-right: 5px;
}

.copyright_txt p {
    margin-top: 50px;
    text-align: center;
    color: #fff;
    font-family: var(--eng_font);
    font-size: 21px;
}

.foot_cont p a, .attribution p a {
    color: #fff;
    text-decoration: underline;
    margin-left: 5px;
}

.foot_cont p, .attribution p{
    transition: .3s;
    cursor: pointer;
}

.foot_cont p:hover, .attribution p:hover {
    letter-spacing: 1px;
}

.foot_wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* Footer - The End */